# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Ignoring the blueprint file
blueprint.md

# Ignoring the test results file
test_results.xml

# Ignoring the nix files
.idx/
.replit
replit.nix
